.siteHeader {
  &__inner {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 1rem 3rem;
  }
}
