section.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
  position: relative;
  // color: white;

  &::before {
    background-image: linear-gradient(
      to right,
      rgba(var(--bs-tertiary-bg-rgb), 0.7) calc((50vw - 170px) - 340px),
      rgba(var(--bs-secondary-bg-rgb), 0.8) 65%,
      rgba(var(--bs-tertiary-bg-rgb), 0.3) 100%
    );
    content: "";
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  > .container {
    position: relative;
    z-index: 2;
  }

  .poster {
  }

  .basicInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }
    > * {
      margin: 0;
    }
  }

  .title {
  }

  .facts {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }
}
