@import "bootstrap/dist/css/bootstrap.min.css" layer(framework);
// this error should not happen
//
// might be because vs code does not know about this "import into layer" feature
//
// it is not breaking my app but it hurts my ocd

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  position: relative;
}

// ----------------------------------------------------------------

.sidebar {
  &__title,
  &__subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

// ----------------------------------------------------------------

hr {
  margin: 3rem 0;
}

// ----------------------------------------------------------------

.activeListGroupItem {
  &:has(.active) {
    background: var(--bs-secondary-color);
  }

  .active {
    color: var(--bs-body-bg);
  }
}

// ----------------------------------------------------------------

.videos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

// ----------------------------------------------------------------

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
